.main__log-in-user-menu {
    display: flex;
    justify-content: space-between;
    width: 243px;
    min-height: 46px;
    margin: 0 auto;
    margin-bottom: 16px;
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  
    @media (min-width: 1440px) {
      margin-bottom: 0;
    }
  }
  
  .main__log-in-user-menu-toggler {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    width: 48px;
    min-height: 48px;
    background-color: #f3f3f3;
    border: none;
    cursor: pointer;
  }
  
  .main__log-in-user-menu-toggler--disabled {
    color: #637381;
  }
  
  .main__log-in-user-menu-toggler--active {
    border-bottom: 2px solid black;
  }
  