.main__profile{
    position: fixed;
    inset: 0;
    z-index: 10;
  }
  
.overlay__profile {
    position: absolute;
    inset: 0;
  }

.main__profile-wrapper {
    width: 220px;
    min-height: 292px;
    background-color: white;
    z-index: 1;
    position: absolute;
    top: 84px;
    right: 290px;

    @media (min-width: 1440px) {
        right: 270px;
      }
}