.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "PublicSans";
  font-style: Regular;
  font-weight: 400;
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PublicSans";
  font-style: SemiBold;
  font-weight: 600;
  src: url("../fonts/PublicSans-SemiBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PublicSans";
  font-style: Bold;
  font-weight: 700;
  src: url("../fonts/PublicSans-SemiBold.woff2") format("woff2");
  font-display: swap;
}
.page {
  height: 100%;
}

body {
  width: 375px;
  margin: 0 auto;
  background-color: #f3f3f3;
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 1440px) {
  body {
    width: 1440px;
  }
}

.header {
  width: 375px;
  min-height: 64px;
  display: flex;
  justify-content: center;
}
@media (min-width: 1440px) {
  .header {
    width: 1440px;
  }
}

.header__navigation {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1440px) {
  .header__navigation {
    width: 1440px;
  }
}

.header__eye {
  width: 40px;
  height: 40px;
  margin: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-image: url(../../src/assets/subtract.svg);
}
@media (min-width: 1440px) {
  .header__eye {
    margin: 24px 100px 24px 40px;
  }
}

.header__location {
  display: none;
}
@media (min-width: 1440px) {
  .header__location {
    display: flex;
    align-items: center;
    min-height: 88px;
  }
}

.header__location-title {
  font-size: 14px;
  line-height: 22px;
  color: #212b36;
  margin: 0;
  margin-right: 20px;
}

.header__input {
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: black;
  width: 247px;
  height: 40px;
  background-color: white;
  padding-left: 45px;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  margin-top: 12px;
  background-image: url(../../src/assets/header-search.svg);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  text-overflow: ellipsis;
}
@media (min-width: 1440px) {
  .header__input {
    width: 942px;
    background-position: 16px 10px;
    margin-top: 24px;
    margin-right: 16px;
  }
}

.header__filter {
  display: none;
}
@media (min-width: 1440px) {
  .header__filter {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-image: url(../../src/assets/header-filter.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 20px 20px;
    padding: 0;
    margin-top: 24px;
    margin-right: 16px;
    background-color: #f3f3f3;
  }
}

.header__search {
  display: none;
}
@media (min-width: 1440px) {
  .header__search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 40px;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 24px;
    margin-right: 90px;
    background-color: #212b36;
    color: white;
    font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    border-radius: 8px;
  }
}

.header__user {
  width: 40px;
  height: 40px;
  margin: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-image: url(../../src/assets/un-log.svg);
  background-repeat: no-repeat;
  background-position: 8px 8px;
  background-color: #212b36;
}
@media (min-width: 1440px) {
  .header__user {
    margin: 0;
    margin-top: 24px;
    margin-right: 40px;
  }
}

.main {
  width: 375px;
  min-height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .main {
    width: 1440px;
  }
}

.main__user-menu {
  display: flex;
  justify-content: space-between;
  width: 343px;
  min-height: 46px;
  margin: 0 auto;
  margin-bottom: 16px;
  margin-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
}
@media (min-width: 1440px) {
  .main__user-menu {
    margin-bottom: 40px;
  }
}

.main__user-menu-button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  width: 48px;
  min-height: 48px;
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
}

.main__user-menu-button--disabled {
  color: #637381;
}

.main__user-menu-button--active {
  border-bottom: 2px solid black;
}

.main__games {
  display: flex;
  flex-direction: column;
  width: 344px;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .main__games {
    width: 1080px;
    margin-left: 180px;
  }
}

.main__games-counter {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media (min-width: 1440px) {
  .main__games-counter {
    margin-top: 20px;
    margin-bottom: 24px;
  }
}

.main__games-title {
  color: #212b36;
  font-size: 18px;
  line-height: 28px;
  margin-right: 8px;
}

.main__games-count {
  width: 286px;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: #212b36;
}

.main__games-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
@media (min-width: 1440px) {
  .main__games-list {
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-bottom: 40px;
  }
}

.main__games-item {
  position: relative;
  width: 344px;
  min-height: 172px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  background-color: white;
  cursor: pointer;
}

.main__games-item:not(:last-child) {
  margin-bottom: 16px;
}
@media (min-width: 1440px) {
  .main__games-item:not(:last-child) {
    margin: 0;
  }
}

.main__games-images {
  display: grid;
  grid-template-columns: 244px 80px;
  grid-template-rows: 80px 80px;
  gap: 4px;
  margin-top: 8px;
  margin-left: 8px;
  position: relative;
}

.main__games-main {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}

.main__games-add {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.main__games-add-1 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.main__games-price {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 62px;
  min-height: 26px;
  background-color: #212b36;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 0;
}

.main__date {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

.main__date-label {
  font-size: 12px;
  line-height: 18px;
  color: #919eab;
  margin: 0;
}

.main__date-main {
  font-size: 12px;
  line-height: 18px;
  color: #919eab;
  margin: 0;
  margin-left: 2px;
}

.main__games-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #212b36;
  margin: 8px 20px 8px 20px;
}

.main__games-game {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #637381;
  width: 206px;
  min-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(145, 158, 171, 0.16);
  border-radius: 6px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}

.main__accessibility {
  display: flex;
  width: 304px;
  justify-content: space-between;
  margin-left: 20px;
  margin-bottom: 12px;
}

.main__accessibility-label {
  font-size: 12px;
  line-height: 20px;
  color: #637381;
  margin: 0;
}

.main__accessibility-status {
  font-size: 12px;
  line-height: 20px;
  color: #212b36;
  margin: 0;
}

.main__games-seats {
  display: flex;
  width: 304px;
  justify-content: space-between;
  margin-left: 20px;
  margin-bottom: 12px;
}

.main__games-label {
  font-size: 12px;
  line-height: 20px;
  color: #637381;
  margin: 0;
}

.main__games-status {
  font-size: 12px;
  line-height: 20px;
  color: #ffab00;
  margin: 0;
}

.main__master {
  display: flex;
  width: 304px;
  min-height: 54px;
  justify-content: space-between;
  align-items: start;
  margin-left: 20px;
  margin-bottom: 12px;
  border-top: 1px dashed rgba(145, 158, 171, 0.2);
}

.main__master-label {
  font-size: 12px;
  line-height: 20px;
  color: #637381;
  margin: 0;
  margin-top: 15px;
}

.main__master-name {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #212b36;
  width: 129px;
  min-height: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(145, 158, 171, 0.16);
  border-radius: 6px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
  background-image: url(../../src/assets/master-log.png);
  background-repeat: no-repeat;
  background-position: 4px 4px;
  padding-right: 4px;
  box-sizing: border-box;
}

.main__games-button {
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 16px;
  background-color: #212b36;
  cursor: pointer;
  margin-left: 279px;
  margin-bottom: 40px;
  border: none;
  padding: 0;
}
@media (min-width: 1440px) {
  .main__games-button {
    display: none;
  }
}

.main__users {
  display: flex;
  flex-direction: column;
  width: 344px;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .main__users {
    width: 1080px;
    margin-left: 180px;
  }
}

.main__users-counter {
  display: flex;
  margin-bottom: 16px;
}
@media (min-width: 1440px) {
  .main__users-counter {
    margin-bottom: 24px;
  }
}

.main__users-label {
  font-size: 18px;
  line-height: 28px;
  margin-right: 8px;
  color: #212b36;
}

.main__users-count {
  width: 286px;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: #212b36;
}

.main__users-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .main__users-list {
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 24px;
  }
}

.main__users-item {
  position: relative;
  width: 344px;
  min-height: 300px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  background-color: white;
  cursor: pointer;
}

.main__users-item:not(:last-child) {
  margin-bottom: 16px;
}
@media (min-width: 1440px) {
  .main__users-item:not(:last-child) {
    margin: 0;
  }
}

.main__users-background {
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 20px;
}

.main__users-avatar {
  position: absolute;
  top: 92px;
  left: 28px;
  border-radius: 16px;
}

.main__users-status {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #007867;
  width: 107px;
  min-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 167, 111, 0.16);
  border-radius: 6px;
  margin-left: 20px;
  margin-bottom: 8px;
  margin-top: 0;
}

.main__users-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #212b36;
  margin-left: 20px;
  margin-bottom: 8px;
  margin-top: 0;
}

.main__users-game {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #637381;
  width: 206px;
  min-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(145, 158, 171, 0.16);
  border-radius: 6px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}

.main__users-games {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  width: 27px;
  min-height: 24px;
  border-radius: 6px;
  background-color: #212b36;
  color: white;
  position: absolute;
  bottom: 20px;
  right: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.main__log-in-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.main__log-in {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 480px;
  min-height: 746px;
  border-radius: 24px;
  background-color: white;
  transform: translate(-50%, -50%);
  padding-left: 64px;
  padding-right: 64px;
  box-sizing: border-box;
}

.main__log-in-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-top: 128px;
  margin-bottom: 16px;
  color: #212b36;
}

.main__log-in-wrapp {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.main__log-in-member {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  margin-right: 4px;
  color: #212b36;
}

.main__log-in-button {
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #212b36;
  margin: 0;
  padding: 0;
  border: none;
  background-color: white;
  cursor: pointer;
}

.main__log-in-email-label {
  background-color: white;
  font-size: 12px;
  line-height: 12px;
  color: #919eab;
  position: absolute;
  bottom: -27px;
  left: 16px;
  z-index: 1;
}

.main__log-in-email {
  width: 352px;
  min-height: 56px;
  border-radius: 8px;
  border: 1px solid rgba(145, 158, 171, 0.32);
  padding: 16px 14px 16px 14px;
  box-sizing: border-box;
  color: #212b36;
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.main__log-in-passwod {
  width: 352px;
  min-height: 56px;
  border-radius: 8px;
  border: 1px solid rgba(145, 158, 171, 0.32);
  padding: 16px 14px 16px 14px;
  box-sizing: border-box;
  color: #212b36;
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}

.main__log-in-passwod-show {
  position: absolute;
  bottom: -148px;
  right: 2px;
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  cursor: pointer;
  background-image: url(../../src/assets/show-password.svg);
  background-repeat: no-repeat;
  background-position: 8px 8px;
}

.main__log-in-forgot-passwod {
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  color: #212b36;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  background-color: white;
  border: none;
  width: 130px;
  min-height: 22px;
  margin-left: 223px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main__log-in-container {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.main__log-in-container-checkbox {
  width: 15px;
  height: 15px;
  margin: 8px;
}

.main__log-in-container-label {
  color: #212b36;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.main__log-in-sign {
  width: 352px;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  background-color: #212b36;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 0;
  margin-bottom: 20px;
}

.main__log-in-choice {
  color: #919eab;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  position: relative;
}

.main__log-in-choice::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 156px;
  height: 1px;
  border-bottom: 1px dashed rgba(145, 158, 171, 0.2);
}

.main__log-in-choice::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 156px;
  height: 1px;
  border-bottom: 1px dashed rgba(145, 158, 171, 0.2);
}

.main__log-in-google {
  width: 36px;
  height: 36px;
  border: none;
  background-color: white;
  cursor: pointer;
  background-image: url(../../src/assets/google.svg);
  background-repeat: no-repeat;
  padding: 0;
  background-position: 8px 8px;
  margin: 0 auto;
}

.main__registration-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.main__registration {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 480px;
  min-height: 746px;
  border-radius: 24px;
  background-color: white;
  transform: translate(-50%, -50%);
  padding-left: 64px;
  padding-right: 64px;
  box-sizing: border-box;
}

.main__registration-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #212b36;
  margin-top: 84px;
  margin-bottom: 16px;
}

.main__registration-wrapp {
  display: flex;
}

.main__registration-sign-in {
  font-size: 14px;
  line-height: 22px;
  color: #212b36;
  margin: 0;
}

.main__registration-account {
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  border: none;
  padding: 0;
  background-color: white;
  cursor: pointer;
  margin-left: 4px;
}

.main__registration-choose {
  font-size: 12px;
  line-height: 18px;
  color: #637381;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main__registration-google {
  width: 36px;
  height: 36px;
  border: none;
  background-color: white;
  cursor: pointer;
  background-image: url(../../src/assets/google.svg);
  background-repeat: no-repeat;
  padding: 0;
  background-position: 8px 8px;
  margin: 0 auto;
}

.main__registration-username {
  width: 352px;
  min-height: 56px;
  border-radius: 8px;
  border: 1px solid rgba(145, 158, 171, 0.32);
  padding: 16px 14px 16px 14px;
  box-sizing: border-box;
  color: #212b36;
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.main__registration-email {
  width: 352px;
  min-height: 56px;
  border-radius: 8px;
  border: 1px solid rgba(145, 158, 171, 0.32);
  padding: 16px 14px 16px 14px;
  box-sizing: border-box;
  color: #212b36;
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.main__registration-password {
  width: 352px;
  min-height: 56px;
  border-radius: 8px;
  border: 1px solid rgba(145, 158, 171, 0.32);
  padding: 16px 14px 16px 14px;
  box-sizing: border-box;
  color: #212b36;
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  position: relative;
}

.main__registration-password-show {
  position: absolute;
  top: 474px;
  right: 66px;
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  cursor: pointer;
  background-image: url(../../src/assets/show-password.svg);
  background-repeat: no-repeat;
  background-position: 8px 8px;
}

.main__registration-password-repeat {
  width: 352px;
  min-height: 56px;
  border-radius: 8px;
  border: 1px solid rgba(145, 158, 171, 0.32);
  padding: 16px 14px 16px 14px;
  box-sizing: border-box;
  color: #212b36;
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.main__registration-password-repeat-show {
  position: absolute;
  bottom: 160px;
  right: 66px;
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  cursor: pointer;
  background-image: url(../../src/assets/show-password.svg);
  background-repeat: no-repeat;
  background-position: 8px 8px;
}

.main__registration-sign-up {
  width: 352px;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  background-color: #212b36;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 0;
  margin-bottom: 84px;
}

.main__forgot-password-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.main__forgot-password {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 480px;
  min-height: 248px;
  border-radius: 24px;
  background-color: white;
  transform: translate(-50%, -50%);
}

.main__forgot-password-title {
  color: #212b36;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin: 24px auto 24px 24px;
}

.main__forgot-password-email {
  width: 432px;
  min-height: 56px;
  border-radius: 8px;
  border: 1px solid rgba(145, 158, 171, 0.32);
  padding: 16px 14px 16px 14px;
  box-sizing: border-box;
  color: #212b36;
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  margin-left: 24px;
}

.main__forgot-password-description {
  color: #212b36;
  font-size: 14px;
  line-height: 22px;
  margin-top: 0;
  margin-left: 24px;
  margin-bottom: 24px;
}

.main__forgot-password-submit {
  width: 87px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  background-color: #212b36;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 0;
  margin-bottom: 24px;
  margin-left: 369px;
}

.main__changing-password-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.main__changing-password {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 480px;
  min-height: 248px;
  border-radius: 24px;
  background-color: white;
  transform: translate(-50%, -50%);
}

.main__changing-password-title {
  color: #212b36;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin: 24px auto 24px 24px;
}

.main__changing-password-password {
  width: 432px;
  min-height: 56px;
  border-radius: 8px;
  border: 1px solid rgba(145, 158, 171, 0.32);
  padding: 16px 14px 16px 14px;
  box-sizing: border-box;
  color: #212b36;
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  margin-left: 24px;
}

.main__changing-password-submit {
  width: 76px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PublicSans", "Arial", "Helvetica", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  background-color: #212b36;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 0;
  margin-bottom: 24px;
  margin-left: 380px;
}

.main__password-changed {
  position: absolute;
  top: 88px;
  right: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  min-height: 72px;
  border-radius: 8px;
  background-color: #22c55e;
  display: none;
}

.main__password-changed-title {
  width: 204px;
  color: white;
  font-size: 14px;
  line-height: 22px;
  padding-left: 52px;
  box-sizing: border-box;
  background-image: url(../../src/assets/done-icon.svg);
  background-repeat: no-repeat;
  background-position: 16px 0;
}

.main__password-changed-close {
  width: 28px;
  height: 28px;
  padding: 0;
  margin-top: 10px;
  border: none;
  background-color: #22c55e;
  background-image: url(../../src/assets/close-icon.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */