.main__password-changed {
  position: absolute;
  top: 88px;
  right: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  min-height: 72px;
  border-radius: 8px;
  background-color: #22c55e;
  display: none;
}

.main__password-changed-title {
  width: 204px;
  color: white;
  font-size: 14px;
  line-height: 22px;
  padding-left: 52px;
  box-sizing: border-box;
  background-image: url(../../src/assets/done-icon.svg);
  background-repeat: no-repeat;
  background-position: 16px 0;
}

.main__password-changed-close {
  width: 28px;
  height: 28px;
  padding: 0;
  margin-top: 10px;
  border: none;
  background-color: #22c55e;
  background-image: url(../../src/assets/close-icon.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}
